[Unit]
Description=Notify when track changes

[Service]
Restart=on-failure
ExecStart=/home/alex/.config/spotify/track_change.py

[Install]
WantedBy=default.target
